.containerMain {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.title {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  max-height: calc(100vh - 280px);
}
