.content {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  scrollbar-color: #8585AD #2F2F37;
	scrollbar-width: thin;
}

.content::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
