.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.detailPageWrap {
  margin: 120px auto;
}

.detailHeader {
  text-align: center;
}
